<div class="box ml-5">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <h3 class="mt-0">{{title}}</h3>
          <strong>Post ID: {{id}}</strong>
          <br />
          <small>{{format_date createdAt}}</small>
        </p>
      </div>
      <nav class="post-controls is-mobile">
        <div class="level-left">
          <a href="/edit-post?post={{id}}" class="level-item" aria-label="edit">
            <span class="icon is-small">
              <i data-post-id="{{id}}" class="edit-post-button fas fa-edit" aria-hidden="true"></i>
            </span>
          </a>
          <a class="level-item" aria-label="delete">
            <span class="icon is-small has-text-danger">
              <i
                data-post-id="{{id}}"
                data-author-id="{{author_id}}"
                class="post-delete-button fas fa-trash-alt"
                aria-hidden="true"
              ></i>
            </span>
          </a>
        </div>
      </nav>
    </div>
  </article>
</div>