<article>
  <div class="container p-5">
    <div class="content">
      <h2 class="is-size-3 mb-2">{{title}}</h2>
      <h3 class="is-size-5 mb-1">{{user.name}}</h3>
      <h4 class="is-size-6 mb-5">{{format_date createdAt}}</h4>
      <p>{{content}}</p>
      <div class="buttons">
        <button data-post-id="{{id}}" class="comment-on-post is-fullwidth button is-medium is-primary">Comment</button>
      </div>
    </div>
  </div>
</article>
<form class="comment-form ml-5 is-hidden" action="">
<textarea name="content" class="textarea is-primary mb-4" placeholder="Type Comment Here"></textarea>
<button type="submit" data-post-id="{{id}}" class="post-comment-button button is-fullwidth is-medium is-info">Comment</button>
</form>
{{#each comments as |comment|}}
{{> single-comment}}
{{/each}}